@font-face {
  font-family: 'Vitreous';
  src: url(fonts/Vitreous-Light.ttf);
}

#indicator {
  position: absolute;
  visibility: hidden;
  background-color: white;
  padding: 5px;
  border: solid thin #e6e6e6;
}
#canvasContainer {
  /*width: 100%;*/
  height: 90%;
  margin-top: 30px;
  margin-bottom: 10%;
  padding: 10px;
}
#canvasContainer:hover {
  cursor: pointer;
}
#header {
  padding: 10px;
  margin-top: 30px;
}
#header h1 {
  font-size: 67px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 20px;
  margin-top: 0px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25);
}
#numberInput {
  display: block;
  margin: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  border: none;
  padding: 2px;
  box-sizing: padding-box;
  width: 99%;
}
#numberInput:active {
  border: none;
}
#numberInput:focus {
  border: none;
}

#numberInput::-webkit-input-placeholder {
    color: #000;
    opacity: .3 !important; /* for older chrome versions. may no longer apply. */
}

#numberInput:-moz-placeholder { /* Firefox 18- */
    color: #000;
    opacity: .3 !important;
}

#numberInput::-moz-placeholder {  /* Firefox 19+ */
    color: #000;
    opacity: .3 !important;
}

#numberInput:-ms-input-placeholder {
   color: #000;
}
